.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    padding: 18px 24px;
}

.pagination button {
    width: 34px;
    height: 34px;

    border: none;
    border-radius: 8px;

    background: transparent;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.pagination button.active {
    background: var(--primary);
    color: white;
}

@media (max-width: 768px) {
    .pagination {
        flex-wrap: wrap;
        padding: 14px 16px;
    }
}

.pagination.pagination-toolbar {
    display: none;
}

@media (max-width: 640px) {
    .pagination.pagination-toolbar {
        display: flex;
        padding: 0;
        justify-content: flex-start;
    }

    .pagination.pagination-bottom {
        display: none;
    }
}