.button {
    background: var(--primary);
    color: #f5f5f5;

    border: none;
    border-radius: 8px;

    padding: 12px 24px;

    cursor: pointer;

    font-size: 16px;
    font-weight: 500;

    transition: 0.2s;
}

.button:hover {
    background: var(--primary-dark);
    cursor: pointer;
}

.button:active {
    background: var(--primary-dark);
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
}