.home {
    font-family: 'Tahoma', sans-serif;
    display: flex;
    min-height: 100vh;
    background: var(--background);
    color: var(--text-color);
}

.home-content {
    flex: 1;
    padding: 32px;
}

h1 {
    font-size: 24px;
    padding-top: 20px;

}